<!doctype html>
<title>Python Flask webserver</title>
<h2>Python Flask webserver - Hosted on Raspberry Pi Zero W</h2>
<h3>Authors: James Burness || Jacq van Jaarsveld</h3>

<p>
    <a href="{{ url_for('.sens_on') }}">Sensor On</a> 
</p>
<p>
    <a href="{{ url_for('.sens_off') }}">Sensor Off</a> 
</p>
<p>
    <a href="{{ url_for('.get_status') }}">Status</a> 
</p>
<p>
    <a href="{{ url_for('.log_check') }}">Log Check</a> 
</p>
<p>
    <a href="{{ url_for('.log_down') }}">Log Download</a> 
</p>
<p>
    <a href="{{ url_for('.server_exit') }}">Exit</a> 
</p>

<p>EEE3095S - Practical 6</p>
<p>BRNJAM019 - VJRJAC003- 30/10/2021</p>